<%-include("partials/navbar.ejs")%>
<%-include("partials/title.ejs",{title:"MNIT Jaipur"})%>

<div class="container" style="min-height:80vh">
</div>
</body>

    <%-include("partials/footer.ejs")%>
    </html>